.formRegister {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;

}

.wrapperFormReg {
    background-color: rgba(78, 78, 78, 0.9);
    border-radius: 50px;
    backdrop-filter: blur(5px);
    position: relative;
    overflow: hidden;
    width: 900px;
    min-height: 500px;
}

.toggle-panel p {
    margin: 20px 0px;
    letter-spacing: 0.3px;
}

.formBtn {
    margin-top: 40px;
    font-weight: 600;
    font-family: 'Comfortaa', sans-serif;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 55px;
}

.form h2 {
    font-size: 27px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    height: 100%;
}

.formWriting p {
    margin: 10px 0px;
}

.formWriting input {
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid #909090;
    outline: none;
    font-family: 'Comfortaa', sans-serif;
}

.regForm {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.wrapperFormReg.active .sign-in {
    transform: translateX(100%);
    opacity: 0;
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.wrapperFormReg.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move .6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all .6s ease-in-out;
    z-index: 10;
    border-radius: 200px 0px 0px 100px;
}

.wrapperFormReg.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 200px 100px 0px;
}

.toggle {
    background-color: #454545;
    height: 100%;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transition: all .6s ease-in-out;
}

.wrapperFormReg.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all .6s ease-in-out;
}

.toggle-panel h2 {
    font-size: 27px;
}

.toggle-panel p {
    font-weight: 200;
}

.toggle-left {
    transform: translateX(-200%);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.wrapperFormReg.active .toggle-left {
    transform: translateX(0);
}
.wrapperFormReg.active .toggle-right {
    transform: translateX(200%);
}
.errorField{
    color: #ff0000;
    font-size: 12px;
}